[submodule "src/application/libraries/oauth"]
	path = src/application/libraries/oauth
	url = git://github.com/unilincoln-ost/codeigniter-oauth2.git
[submodule "src/application/libraries/swordapp"]
	path = src/application/libraries/swordapp
	url = https://github.com/lncd/swordappv2-php-library.git
