.sortable_item {
	list-style-type: none;
	margin: 0;
	cursor: move;
	background-color: #eeeeee;
	min-height: 20px;
}

.sortable_item li {
	padding: 4px;
}

.bignumber {
	font-size: 50px;
	line-height: 50px;
}

.subnumber {
	font-size: 18px;
	line-height: 20px;
}

.form_width {
	min-width: 284px;
}

.align-right{
	text-align: right;
}